<!--detail.html-->

{% extends 'base.html' %}

{% block content %}

<h1>제목 : {{onepost.title}}</h1>
<p>작성 시간 : {{onepost.created_at}}</p>
<p>내용 : {{onepost.body}}</p>

<a href="{% url 'home' %}">홈으로</a>
<a href="{% url 'postedit' onepost.id %}">수정</a>
<a href="{% url 'postdelete' onepost.id %}">삭제</a>

<form action="{% url 'blogcommentcreate' onepost.id %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="comment_content">댓글</label><br>
        <input type="text" name="comment_content" id="comment_content">
    </div>
    <button type="submit">댓글쓰기</button>
</form>

{% for o in comments%}
    <div>
        <p>{{o.title}}</p>
        <p>{{o.created_at}}</p>
        <a href="{% url 'blogcommentdelete' onepost.id o.id %}">삭제</a>
    </div>
{% endfor %}


{% endblock %}